body, h1, h2, h3 {
    margin: 0;
    padding: 0;
    /* background-color: rgb(24, 23, 23); */
}

h4 {
    margin: 10px;
}

.header {
    background-color: rgb(204, 200, 200);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.main {
    padding-top: 15px;
    padding-bottom: 200px;
}

.main__menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}


.main__menu--input {
    width: 300px;
}

.main__menu--select {
    width: 200px;
}

.main__menu--button {
    padding: 10px 60px;
    border-radius: 10px;
}

.main__body {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    background-color: rgb(204, 200, 200);
}

/* MODAL(CREATE CARD) START */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.createCard {
    margin: 0 auto;
    margin-top: 130px;
    width: 250px;
    border: 2px solid black;
    padding: 10px 0;
    background-color: #fff;
}

.createCard__container {
    width: 85%;
    margin: 0 auto;
}

.createCard__title--input {
    width: 100%;
}

.createCard__description--text {
    width: 99%;
}

.createCard__priority--select {
    width: 100%;
    margin-bottom: 60px;
}

.createCard__buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.modalButton {
    width: 45%;
    border-radius: 10px;
    padding: 10px 0;
}
/* MODAL(CREATE CARD) END */

/* todoCard start */

.todoCard {
    border: 2px solid black;
    width: 350px;
    margin-top: 75px;
    overflow-wrap: break-word;
    position: relative;
    padding-top: 15px;
    float: left;
    margin: 10px;
}




.todoCard__container {
    width: 85%;
    margin: 0 auto;
}

.todoCard__title {
    margin-bottom: 20px;
}

.todoCard__title > h3{
    text-align: center;
}

.todoCard__description {
    text-align: center;
    margin-bottom: 65px;
}

.todoCard__priority {
    border: 1px dashed black;
    display: inline;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 20px;
}

.todoCard__state {
    float: right;
    margin-bottom: 20px;
    position: absolute;
    bottom: 0;
    right: 20px;
    padding: 15px;
    background-color: rgba(0,0,0,0);
    border: 1px solid black;
    border-radius: 10px;
}

/* todoCard end */

/* stateModal start */

.stateModal {
    display: none;
    position: absolute;
    z-index: 11;
    border: 1px solid black;
    width: 100px;
    right: 20px;
    bottom: -73px;
}

.stateModal button {
    display: block;
    width: 100%;
    background-color: white;
    border: 1px solid rgb(77, 77, 77);
    padding: 5px 0;
}

.stateModal button:hover {
    background-color: rgb(202, 202, 202);
}

.block {
    display: block;
}

.none {
    display: none;
}

.triangle {
    border-radius: 10px;
    position: relative;
    color: #fff;
   }
   .triangle::after {
    content: ''; 
    position: absolute; 
    left: 66px;
    bottom: -1px;
    border: 12px solid transparent;
    border-bottom: 12px solid rgb(5, 5, 5);
   }
/* stateModal end */


/* галочка после нажатия на кнопку done */

[id^=c]{
    display: none;
}
[id^=c] + label{
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid green;
    text-align: center;   
    position: relative;
    top: -16px;
    float: right;
}
[id^=c] + label:before{
    content: '';    
    position: absolute; top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: green;
    -webkit-clip-path: polygon(45% 64%, 84% 14%, 100% 28%, 47% 100%, 0 49%, 15% 32%);
clip-path: polygon(45% 64%, 84% 14%, 100% 28%, 47% 100%, 0 49%, 15% 32%);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: transform .3s;
    transition: transform .3s;
}
[id^=c]:checked + label:before{    
    -webkit-transform: scale(1);
    transform: scale(1);
}
.taskDone {
    display: none!important;
}